# afrodite-backend server mode systemd service

# This service should not be enabled.
# The afrodite-backend manager mode instance controls this service.

[Unit]
Description=Afrodite backend server mode
Requires=afrodite-manager.service

[Service]
Type=simple
User=afrodite
ExecStart=bash -l -c /home/afrodite/afrodite-backend server
WorkingDirectory=/afrodite-secure-storage/afrodite/backend
Environment="RUST_LOG=info,rustls=error"
Nice=11
LimitNOFILE=1000000000:1000000000

# It is assumed that the server mode process supports clean shutdown
KillMode=mixed
TimeoutStopSec=300

MemoryMax=90%
# If automatic restart is wanted in 'oom-kill' situations, Restart=on-abnormal
# can be used. The on-abort and on-watchdog seems to not work.

# Allow using privileged ports without root access
AmbientCapabilities=CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target
