# Update country ipset

[Unit]
Description=Update country ipset
After=network.target

[Service]
Type=oneshot
ExecStart=/afrodite-server-tools/tools/update-country-ipset.sh
