# Update country ipset

[Unit]
Description=Update country ipset

[Timer]
OnCalendar=monthly
Persistent=true
Unit=afrodite-update-country-ipset.service

[Install]
WantedBy=timers.target
