# app-manager systemd service
[Unit]
Description=App server instance manager
After=network.target
Conflicts=umount.target

[Service]
Type=simple
User=app
ExecStart=bash -l -c /home/app/binaries/app-manager
WorkingDirectory=/home/app/manager-working-dir
Environment="RUST_LOG=info"
Nice=10

# App-manager shutdown can create new processes, so mixed mode is required
KillMode=mixed
TimeoutStopSec=300

MemoryMax=90%
# If automatic restart is wanted in 'oom-kill' situations, Restart=on-abnormal
# can be used. The on-abort and on-watchdog seems to not work.

[Install]
WantedBy=multi-user.target
