# app-backend systemd service

# This service should not be enabled.
# The app-manager program controls this service.

[Unit]
Description=App backend
Requires=app-manager.service

[Service]
Type=simple
User=app
ExecStart=bash -l -c /app-secure-storage/app/binaries/app-backend
WorkingDirectory=/app-secure-storage/app/backend-working-dir
Environment="RUST_LOG=info"
LimitNICE=+19

# It is assumed that backend process supports clean shutdown
KillMode=mixed
TimeoutStopSec=300

MemoryMax=90%
# If max memory is reached the service is killed and message
# "Failed with result 'oom-kill'" is printed to logs.
# If automatic restart is wanted, Restart=on-abnormal can be used.
# The on-abort and on-watchdog seems to not work.

[Install]
WantedBy=multi-user.target
