# app-backend systemd service

# This service should not be enabled.
# The app-manager program controls this service.

[Unit]
Description=App backend
Requires=app-manager.service

[Service]
Type=simple
User=app
ExecStart=bash -l -c /app-secure-storage/app/binaries/app-backend
WorkingDirectory=/app-secure-storage/app/backend-working-dir
Environment="RUST_LOG=info"
Nice=11
LimitNOFILE=1000000000:1000000000

# It is assumed that backend process supports clean shutdown
KillMode=mixed
TimeoutStopSec=300

MemoryMax=90%
# If automatic restart is wanted in 'oom-kill' situations, Restart=on-abnormal
# can be used. The on-abort and on-watchdog seems to not work.

# Allow using privileged ports without root access
AmbientCapabilities=CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target
