---
- name: Install dependencies
  apt:
    name: [
      # Python is for generating IP block list
      python3,
      python3-requests,
      ipset,
      fail2ban,
      # fail2ban has features which use SQLite and Afrodite requires it
      libsqlite3-0,
      # Afrodite requires PostgreSQL library
      libpq5,
    ]
    update_cache: yes
    state: present
